body{
    background-color: #666666;
    margin: 0px;
    padding: 0px;
    direction: rtl;

}
#container{
    width: 800px;
    margin:0px auto;
    background: white;
}
#heder{
    height: 140px;
    background:url(mine.jpg) no-repeat;
    
}
#title{
    font-size: 36px;
    position: relative;
    top: 5px;
    right: 240px;
    color: aqua;
}   
#dis{
    
    font-size: 26px;
    position: relative;
    right: 240px;
    color: brown;

}
#topm{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: black;
    background-image: url(fff.jpg);
    background-position: center center;
    background-repeat: repeat-x;
    float: right;
} 
#topm li{
    display: inline;
}
#topm li a{
    color: #ffffff;
    padding: 9px 11px;
    text-decoration: none;
    border-left: 1px solid #ffffff;
    float: right;
}
#topm li a:hover{
    background: url(fff.jpg); center center  repeat-x;
}
#content{
    width: 800px;
    

}
#rast{
    width: 250px;
    background: #cccccc;
    float: right;
    padding: 10px;
    box-sizing: border-box;
}
#cap{
    width: 550px;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    background: #ffffff;

}
.matn{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    padding: 5px;
}
.sub{
    font-size: 17px;
    font-weight: bold;
}